<div class="container">
  <h1>Cadastrar Conta Banco</h1>
  <form #frm="ngForm" class="create-bank-account">
    <div class="form-group">
      <label for="accountName">Nome Conta</label>
      <input type="text" id="accountName"/>
    </div>

    <div class="form-group">
      <label for="balance">Saldo Atual</label>
      <input type="number" id="balance"/>
    </div>

    <div class="form-group">
      <label for="bank">Banco</label>
      <input type="text" id="bank"/>
    </div>

    <div class="form-group">
      <label for="accountType">Tipo de conta</label>
      <input type="text" id="accountType"/>
    </div>

    <button type="submit" class="btn-create">Criar Conta</button>
  </form>
</div>
