@import "../../../styles/variables.scss";

:host {
  display: block;
  margin: 0; // ✅ Remove margin
  padding: 0; // ✅ Remove padding
}

.input-wrapper {
  color: $text-color;
  font-size: 16px;
  text-align: start;
  margin: 0; // ✅ Adicione isso

  label {
    display: block;
    margin-bottom: 8px;
  }

  .input-content {
    width: 100%;
    border-radius: 8px;
    display: flex;

    icon {
      padding: 12px;
      background-color: $primary-color;
      border-radius: 0 8px 8px 0;

      img {
        height: 20px;
      }
    }
  }
}

input {
  border: none;
  border-radius: 8px 0 0 8px;
  background-color: $gray-secondary-bg;
  color: $text-color;
  font-size: 16px;
  text-align: start;
  padding: 12px 0 12px 20px;
  width: 100%;
}
