<div class="sidebar">
  <div class="logo-arrow">
    <div class="logo">
      <span class="logo-icon">🦝</span>
      <span class="logo-text">Guaxicash</span>
    </div>
    <fa-icon [icon]="faArrowLeft" size="lg" class="arrow-left"/>
  </div>

  <nav class="menu">
    <p class="section-title">Main</p>
    <ul>
      <li routerLink="/dashboard" routerLinkActive="active"><i class="icon">📊</i> Dashboard</li>
      <li routerLink="/graficos" routerLinkActive="active"><i class="icon">📈</i> Gráficos</li>
      <li routerLink="/cartoes" routerLinkActive="active"><i class="icon">💳</i> Cartões</li>
      <li routerLink="/missoes" routerLinkActive="active"><i class="icon">🎯</i> Missões</li>
      <li routerLink="/contas" routerLinkActive="active"><i class="icon">🏦</i> Contas</li>
      <li routerLink="/transacoes" routerLinkActive="active"><i class="icon">💸</i> Transações</li>
    </ul>

    <p class="section-title">System</p>
    <ul>
      <li><i class="icon">⚙️</i> Settings</li>
      <li class="dark-mode">
        <i class="icon">🌙</i> Dark mode
        <label class="switch">
          <!--<input type="checkbox" [(ngModel)]="darkMode" (change)="toggleDarkMode()" />-->
          <span class="slider"></span>
        </label>
      </li>
    </ul>
  </nav>

  <div class="profile">
    <img src="https://via.placeholder.com/40" alt="User" />
    <div class="info">
      <p class="name">{{ userEmail || 'Usuário' }}</p>
      <p class="role">Usuário logado</p>
    </div>
  </div>

  <div class="logout">
    <button (click)="logout()">Log Out</button>
  </div>
</div>
